body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 800px;
}

.actor-card {
  text-align: center;
}

#actor-info img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.lista {
  display: flex;
  
}
.actor-card{ 

  -webkit-text-size-adjust: 100%;
  --scrollerGrey: 219,219,219;
  --lightGrey: 227,227,227;
  --darkerGrey: 200,200,200;
  --tmdbDarkBlue: 3,37,65;
--tmdbLightBlue: 1,180,228;
--tmdbLighterGreen: 192,254,207;
--tmdbLightGreen: 30,213,169;
--tmdbLogoGreen: 144,206,161;
--tmdbLogoOrange: 253,193,112;
--tmdbLogoRed: 217,59,99;
--accountSilver: 149,149,149;
--accountPink: 234,20,140;
--accountPurple: 128,91,231;
--accountGreen: 1,210,119;
--accountTeal: 1,198,172;
--accountLightBlue: 1,180,228;
--accountBlue: 1,119,210;
--accountOrange: 210,119,1;
--accountYellow: 210,144,1;
--accountRed: 212,2,66;
--imageBorderRadius: 8px;
--maxPrimaryPageWidth: 1400px;
--imageColumnPadding: 30px;
--numberOfBackdropColumns: 2;
--numberOfPosterColumns: 3;
color: #000;
font-family: "Source Sans Pro",Arial,sans-serif;
font-size: 1em;
-webkit-font-smoothing: antialiased;
display: block;
box-sizing: border-box;
width: 100%;
margin-top: 0;
}

.scroller_wrapshould_fadeis_fading {
  background-color: blue;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  --scrollerGrey: 219,219,219;
  --lightGrey: 227,227,227;
  --darkerGrey: 200,200,200;
--tmdbDarkBlue: 3,37,65;
--tmdbLightBlue: 1,180,228;
--tmdbLighterGreen: 192,254,207;
--tmdbLightGreen: 30,213,169;
--tmdbLogoGreen: 144,206,161;
--tmdbLogoOrange: 253,193,112;
--tmdbLogoRed: 217,59,99;
--accountSilver: 149,149,149;
--accountPink: 234,20,140;
--accountPurple: 128,91,231;
--accountGreen: 1,210,119;
--accountTeal: 1,198,172;
--accountLightBlue: 1,180,228;
--accountBlue: 1,119,210;
--accountOrange: 210,119,1;
--accountYellow: 210,144,1;
--accountRed: 212,2,66;
--imageBorderRadius: 8px;
--maxPrimaryPageWidth: 1400px;
--imageColumnPadding: 30px;
--numberOfBackdropColumns: 2;
--numberOfPosterColumns: 3;
color: #000;
font-family: "Source Sans Pro",Arial,sans-serif;
font-size: 1em;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
width: 100%;
}