:root {
  --border: #023e73;
  --bg: #026873;
  --fg: #62a1d9;
  --text: #fafafa;
  --secundary-text: #f0f0f0;
  --primary: #04d939;
}

body {
  background-color: var(--bg) !important;
  color: var(--text) !important;
}
.dropdown .dropdown-menu {
  background-color: var(--bg) !important;
  color: var(--text) !important;
}
.content {
  background-color: var(--fg) !important;
  border: 1px solid var(--border) !important;
}
button {
  background-color: var(--border) !important;
  color: var(--text) !important;
}
a {
  color: var(--text) !important;
}
.results, .poster {
  background: var(--fg) !important;
}
